@font-face{
    src: url(./fonts/Gilroy-Black.ttf);
    font-family: 'GilroyBlack';
}
@font-face{
    src: url(./fonts/Gilroy-Bold.ttf);
    font-family: 'GilroyBold';
}
@font-face{
    src: url(./fonts/Gilroy-Extrabold.ttf);
    font-family: 'GilroyExtrabold';
}
@font-face{
    src: url(./fonts/Gilroy-Heavy.ttf);
    font-family: 'GilroyHeavy';
}
@font-face{
    src: url(./fonts/Gilroy-Light.ttf);
    font-family: 'GilroyLight';
}
@font-face{
    src: url(./fonts/Gilroy-Medium.ttf);
    font-family: 'GilroyMedium';
}
@font-face{
    src: url(./fonts/Gilroy-Regular.ttf);
    font-family: 'GilroyRegular';
}
@font-face{
    src: url(./fonts/Gilroy-Semibold.ttf);
    font-family: 'GilroySemibold';
}
@font-face{
    src: url(./fonts/Gilroy-Thin.ttf);
    font-family: 'GilroyThin';
}
@font-face{
    src: url(./fonts/Shaloems.ttf);
    font-family: 'Shaloems';
}

button,input{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: "GilroyRegular";
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,body{
    width: 100%;
    min-height: 100vh;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    font-size: 16px;
}

body::-webkit-scrollbar{
 
    width: 5px;
}

body::-webkit-scrollbar-thumb{
    background-color: #F4D849;
}
#bg{
    width: 100%;
    height: 100vh;
    background-image: url('/images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
   
}
#bg nav{
    width: 100%;
    padding: 0 5%;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.logo{
    display: flex;
    align-items: center;
   
}
.logo h5{
    font-size: 1.1rem;
    font-family: 'GilroyBlack';
  
    /* font-family: 'montserrat'; */
    font-weight: 700;
}
.logo img{
    width: 60px;
    margin-right: 1rem;
}
.logo h5 span{
    color: #EE3364;
}
.links{
    display: flex;
    align-items: center;
}
nav .links a{
    text-decoration: none;
    color: rgb(85, 85, 85);
    margin: 0 1rem;
}
#cart i{
    font-size: 25px;
}
#mainContent{
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: hotpink; */
    text-align: center;
}
#mainContent h1{
    font-size: 6rem;
    font-weight: 800;
    font-family: 'GilroyBlack';
    /* color: white; */



    /* font-family: 'montserrat';    */

}
#mainContent h1 span{
    color: #EE3364;
}
#mainContent p{
    font-size: 1.2rem;
    margin-top: 2rem;
}
#mainContent button{
    background-color: #EE3364;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: 600;
    margin-top: 2rem;
   transition: all 0.3s ease-out;

}
#mainContent button:hover{
    background-color: #eb114b;
    cursor: pointer;
   transform: translateY(-5px);
   transition: all 0.3s ease-out;
}

#categories{
width: 100%;
min-height: 100vh;
background-color: rgb(255, 255, 255);
text-align: center;
padding: 5%;
}
.heading{
    font-size: 3rem;
}
#categories .container{
    margin: 0 auto;
    width: 90%;
    padding: 2rem 0;
    display: flex;
    /* background-color: yellow; */
    flex-wrap: wrap;
    justify-content: center;
   
    
}
.container>.card{
    width: 200px;
    min-height: 250px;
    /* background-color: orange; */
    margin: 1.5rem 1rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card>.cardImg{
    width: 100%;
    height: 85%;
    /* background-color: orchid; */
    background-image: url('https://images.unsplash.com/photo-1602188324312-e1cd6383d2fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
    background-size: cover;
    background-position: center;
}
/* .cardImg img{
    width: 100%;
} */
.card h6,.elem h6{
    font-size: 1rem;
}
#topProduct{
    width: 100%;
    padding: 4rem 5%;
    min-height: 70vh;
    /* background-color: orchid; */
    text-align: center;
}
#topProduct .elements{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.elements>.elem{
    width: 200px;
    min-height: 250px;
    /* background-color: orange; */
    margin:  2rem ;
}
.elem>.elemImg{
    width: 100%;
    height: 85%;
    background-color: rgb(177, 99, 21);
    background-image: url('https://images.unsplash.com/photo-1602188324312-e1cd6383d2fe?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
    background-size: cover;
    background-position: center;
}

@media(max-width:500px){
    #mainContent h1{
        font-size: 3rem;
        font-weight: 800;
        font-family: 'montserrat';
    
    }
}
#about{
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 215, 222, 0.568);
   position: relative;

}
#about #content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#content h2{
    font-size: 3rem;
    font-family: 'GilroyMedium';
    color: #EE3364;
    margin-bottom: 2rem;
}
#content h2 span{
    font-family: 'GilroyMedium';
    color: #00BEC5;
}

#contact{
    width: 100%;
    height: 50vh;
    background-color:#f0f0f0;
    padding: 2rem 5%;
    display: flex;
    align-items: center;
}
#contact h1{
    font-size: 7rem;
   
    font-family: 'GilroyBlack';
    color: rgb(136, 136, 136);

}
footer{
    width: 100%;
    height: 30vh;
    background-color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.social{
    display: flex;
    width: 250px;
    justify-content: space-around;
}
.social i{
    color: white;
    font-size: 1.7rem;
}
.social i:hover{
    cursor: pointer;
    color: rgb(252, 116, 116);
   }
   footer small{
       position: absolute;
       top: 70%;
       left: 50%;
       transform: translate(-50%,-50%);
       color: grey;
   }